@using BitSpy.Ui.Response
@using System.Net.Http.Headers
@inject HttpClient HttpClient

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit event</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" @bind="@_newName"/>
            </div>
            <div class="modal-footer">
                @switch (DialogType)
                {
                    case ModalDialogType.Ok:
                        <button type="button" class="btn btn-primary" @onclick=@(async () => await ModalOk())>OK</button>
                        break;
                    case ModalDialogType.Cancel:
                        <button type="button" class="btn" @onclick="@(async () => await ModalCancel())">Cancel</button>
                        break;
                }
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public TraceResponse Trace { get; set; } = default!;
    [Parameter] public ModalDialogType DialogType { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private string _newName = string.Empty;
    
    protected override void OnInitialized()
    {
        _newName = Trace.Name;
        base.OnInitialized();
    }
    
    private async Task UpdateTrace()
    {
        if (_newName.Length > 0 && Trace.Name != _newName)
        {
            string oldName = Trace.Name;
            Trace.Name = _newName;
            var response = await HttpClient.PutAsJsonAsync($"{ApiConstants.ApiUrl}/traces/{oldName}", _newName);
        }
    }
    
    private Task ModalCancel()
    {
        return OnClose.InvokeAsync();
    }

    private async Task ModalOk()
    {
        await UpdateTrace();
        await OnClose.InvokeAsync();
    }
    public enum ModalDialogType
    {
        Ok,
        Cancel
    }

}